.page-template-page-home {
	.entry-header {
		background-color: $white;
		padding-top: clamp(2.8rem, 2.377rem + 1.803vw, 4rem);
		.left-svg {
			@include breakpoint(tablet down) {
				padding-bottom: .5rem;
			}
			svg {
				padding: .5vw;
			}
		}
		.right-svg {
			@include breakpoint(tablet down) {
				padding-top: 1.5rem;
			}
		}
		hr {
			border-color: $primary-color;
			max-width: 200px;
			margin: 1.25rem auto 1.5rem;
			border-width: 4px;
		}
	}
	.divider {
		margin-bottom: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
	}
	.entry-content {
		.intro {
			margin-bottom: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
			@include breakpoint(tablet down) {
				.img-wrap {
					margin-bottom: 2rem;
				}
			}
		}
	}	
	.tryouts {
		margin-bottom: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
		.cta {
			padding-top: 2rem;
		}
	}
	.teams {
		margin-bottom: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
	}
	.alumni {
		background-color: $white;
		padding-top: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
		padding-bottom: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
		.copy-wrap {
			li {
				&::marker {
					color: $primary-color;
				}
			}
		}
		.alumni-grid > li {
			margin-bottom: $smallGutter;
		}
		@include breakpoint(tablet down) {
			.left {
				margin-bottom: 2rem;
			}
		}
		.link-wrap {
			margin-top: 1rem;
		}
	}
}