.page-template-page-teams,
.single-cpt-team,
.single-cpt-player {
	a.team-tab-link {
		font-size: 1rem;
		font-family: $header-font-family;
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 4px;
		transition: text-underline-offset .25s ease;
		&:hover,
		&:focus {
			text-underline-offset: 2.5px;
		}
	}
}
.page-template-page-teams {
	.team-cards {
		row-gap: $smallGutter;
		@include breakpoint(medium) {
			row-gap: $mediumGutter;
		}
	}
	.cpt-team {
		a[rel="bookmark"] {
			display: block;
			background-color: $white;
			transition: background-color .25s ease;
			h2 {
				padding: .2em .2em .1em;
				transition: color .25s ease;
			}
			&:hover,
			&:focus {
				background-color: $black;
				h2 {
					color: $white;
				}
			}
		}
		.team-tab-nav {
			background: get-color('primary');
			padding-top: 2px;
			padding-bottom: 2px;
			a {
				color: $white;
				display: inline-block;
				padding: .2em .2em .6em;
			}
		}
	}	
}

.single-cpt-team {
	.tabs {
		display: inline-block;
		border: 0;
		li {
			a {
			}
		}
	}
	.team-tabs-wapper {
		line-height: 0;
	}
	.schedule-content {
		.table-wrap {
			overflow: auto;
		}
		table {
			tbody > tr> td:nth-child(1) span {
				white-space: nowrap;
			}
		}
	}
	.tabs-panel {
		scroll-padding-top: 550px;
	}
	.tab-content-header {
		padding: 1rem;
	}
	.roster-content {
		.roster-nav {
			> .grid-x {
				row-gap: $smallGutter;
			}
			li {
				@include breakpoint(medium) {
					align-items: flex-end;
				}
			}
			a {
				padding: 0;
				font-family: $header-font-family;
				font-weight: 700;
				font-size: rem-calc(15);
				line-height: 1;
				flex-direction: column;
				align-items: flex-start;
				@include breakpoint(medium) {
					flex-direction: row;
					flex-wrap: nowrap;
					align-items: flex-end;
				} 
				.img-wrap {
					border: 3px solid $black;
					border-radius: 100%;
					margin-bottom: 4px;
					position: relative;
					flex: 0 0 75px;
					width: 75px;
					transition: border-color .25s ease;
					img {
						border-radius: 100%;
						overflow: hidden;
					}
					.number {
						width: 20px;
						height: 20px;
						font-size: 16px;
						line-height: 1;
						position: absolute;
						top: 0;
						left: -10px;
						background-color: get-color('primary');
						color: $white;
					}
				}
				.text-wrap {
					@include breakpoint(medium) {
						padding-top: 40px;
						padding-left: 4px;
						padding-bottom: 4px;
					}
				}
				hr {
					margin: 2px 0;
					border-color: $black;
				}
				&:hover,
				&:active {
					.img-wrap {
						border-color: get-color('primary');
					}
				}
			}
		}
	}
}
.roster-modal {
	svg path {
		transition: .25s ease;
	}
	.close-btn-wrap,
	.swiper-nav {
		width: 100%;
		background-color: get-color('primary');
		height: 60px;
	}
	.close-btn-wrap {
		padding-right: $smallGutter;
		@include breakpoint(medium) {
			padding-right: $mediumGutter;	
		}
		.close-button {
			&:hover,
			&:focus {
				svg path {
					fill: $black;
				}
			}
		}
	}
	.roster-slider {
		background-color: $white;
	}
	.swiper-button-next, 
	.swiper-button-prev {
		position: static;
		width: auto;
		height: auto;
		margin: 0;
		&:after {
			content: '';
		}
	}
	.swiper-slide {
		box-sizing: border-box;
	}
}