.page-template-page-home,
.page-template-page-teams {
	.team-cards {
		row-gap: $smallGutter;
		@include breakpoint(medium) {
			row-gap: $mediumGutter;
		}
		@include breakpoint(medium down) {
			article {
				max-width: 500px;
				margin: auto;
			}
		}
	}
	.cpt-team {
		a[rel="bookmark"] {
			display: block;
			background-color: $white;
			transition: background-color .25s ease;
			h2 {
				padding: .4em .4em .25em;
				transition: color .25s ease;
			}
			&:hover,
			&:focus {
				background-color: $black;
				h2 {
					color: $white;
				}
			}
		}
		.team-tab-nav {
			background: get-color('primary');
			padding: 2px 4px;
			a {
				color: $white;
				display: inline-block;
				padding: .2em .2em .6em;
			}
		}
	}	
}

.single-cpt-team {
	.entry-header {
		h1 {
			margin-bottom: clamp(1.4rem, 1.189rem + 0.901vw, 2rem);
		}
		@include breakpoint(tablet down) {
			.img-wrap {
				margin-bottom: 2rem;
			}
		}
	}
	.nothing-found {
		background-color: $white;
		padding: 3rem;
	}
	.tabs {
		display: inline-block;
		border: 0;
		li {
			a {
			}
		}
	}
	.team-tabs-wapper {
		line-height: 0;
	}
	.schedule-content {
		.table-wrap {
			overflow: auto;
		}
		table {
			tbody > tr> td:nth-child(1) span {
				white-space: nowrap;
			}
		}
	}
	.tabs-panel {
		scroll-padding-top: 550px;
	}
	.tab-content-header {
		padding: 1rem;
	}
	.roster-content {
		.roster-nav {
			> .grid-x {
				row-gap: $smallGutter;
			}
			li {
				@include breakpoint(medium) {
					align-items: flex-end;
				}
			}
			a {
				padding: 0;
				font-family: $header-font-family;
				font-weight: 700;
				font-size: rem-calc(15);
				letter-spacing: .02em;
				line-height: 1;
				flex-direction: column;
				align-items: flex-start;
				@include breakpoint(medium) {
					flex-direction: row;
					flex-wrap: nowrap;
					align-items: flex-end;
				} 
				.img-wrap {
					margin-bottom: 4px;
					transition: border-color .25s ease;
					img {
						border-radius: 100%;
						overflow: hidden;
					}
					.number {
						width: 20px;
						height: 20px;
						font-size: 16px;
						line-height: 1;
						position: absolute;
						top: 0;
						left: -10px;
						background-color: get-color('primary');
						color: $white;
					}
				}
				.text-wrap {
					@include breakpoint(medium) {
						padding-top: 40px;
						padding-left: 4px;
						padding-bottom: 4px;
					}
				}
				hr {
					margin: 2px 0;
					border-color: $black;
				}
				&:hover,
				&:active {
					.img-wrap {
						border-color: get-color('primary');
					}
				}
			}
		}
	}
}
.roster-modal {
	opacity: 0;
	transition: opacity 2.5s ease 0s;
	&[aria-hidden="false"] {
		opacity: 1;
		transition: opacity .25s ease .1s;
	}
	svg path {
		transition: .25s ease;
	}
	.close-btn-wrap,
	.swiper-nav {
		width: 100%;
		background-color: get-color('primary');
		height: 60px;
	}
	.close-btn-wrap {
		padding-right: $smallGutter;
		@include breakpoint(medium) {
			padding-right: $mediumGutter;	
		}
		.close-button {
			&:hover,
			&:focus {
				svg path {
					fill: $black;
				}
			}
		}
	}
	.roster-slider {
		background-color: $white;
	}
	.swiper-button-next, 
	.swiper-button-prev {
		position: static;
		width: auto;
		height: auto;
		margin: 0;
		&:after {
			content: '';
		}
	}
	.swiper-slide {
		box-sizing: border-box;
		background: $white;
		transition-duration: .25 !important;
	}
}