.single-cpt-team {
	.schedule-content {
		overflow: auto;
		table {
			tbody > tr> td:nth-child(1) span {
				white-space: nowrap;
			}
		}
	}
	.roster-content {
		.roster-nav {
			> .grid-x {
				row-gap: $smallGutter	
			}
			a {
				padding: 0;
				font-family: $header-font-family;
				font-weight: 700;
				font-size: rem-calc(15);
				line-height: 1;
				flex-wrap: nowrap;
				.img-wrap {
					border: 3px solid $black;
					border-radius: 100%;
					margin-bottom: 4px;
					position: relative;
					flex: 0 0 75px;
					img {
						border-radius: 100%;
						overflow: hidden;
					}
					.number {
						width: 20px;
						height: 20px;
						font-size: 16px;
						line-height: 1;
						position: absolute;
						top: 0;
						left: -10px;
						background-color: get-color('primary');
						color: $white;
					}
				}
				.text-wrap {
					padding-top: 40px;
					padding-left: 4px;
					padding-bottom: 4px;
				}
				hr {
					margin: 2px 0;
					border-color: $black;
				}
			}
		}
	}
}
.roster-modal {
	.close-btn-wrap,
	.swiper-nav {
		width: 100%;
		background-color: get-color('primary');
		height: 60px;
	}
	.close-btn-wrap {
		padding-right: 20px;
	}
	.swiper-button-next, 
	.swiper-button-prev {
		position: static;
		width: auto;
		height: auto;
		margin: 0;
		&:after {
			content: '';
		}
	}
	.swiper-slide {
		padding-top: 30px;
		padding-bottom: 30px;
		box-sizing: border-box;
	}
	.roster-bio {
		.number {
			width: rem-calc(60);
			height: rem-calc(60);
			border-radius: 100%;
			font-size: rem-calc(24);
			line-height: 1;
			background-color: get-color('primary');
			color: $white;
			margin-right: 10px;
		}
		.h3 {
			margin: 0;
		}
	}
}