.contact-cta {		
	padding-top: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
	padding-bottom: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
	a {
		color: get-color('primary');
		font-family: $header-font-family;
		text-decoration: underline;
		text-underline-offset: 4px;
		letter-spacing: .02em;
		transition: text-underline-offset .25s ease;
		&:hover,
		&:focus {
			color: get-color('primary');
			text-underline-offset: 0.02em;
		}
	}
}

footer#colophon {
	background-color: $black;
	.top {
		padding-bottom: clamp(4.375rem, 3.715rem + 2.817vw, 6.25rem);
	}
	.logo {
		max-width: 200px;	
	}
	@include breakpoint(medium down) {
		.menu {
			justify-content: center;
		}
	}	
	.nav-wrap {
		justify-content: flex-end;
	}
	ul#footer-links {
		justify-content: flex-end;
		@include breakpoint(medium down) {
			justify-content: center;
		}
		li {
			a {
				font-size: rem-calc(17);
				font-weight: bold;
				text-transform: uppercase;
				color: $white;
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}

	.site-info {
		background-color: $primary-color;
		color: $white;
		padding-top: 1em;
		> div {
			padding-bottom: 1rem;
		}
		a {
			color: $white;
		}
		@include breakpoint(medium down) {
			text-align: center;
			.si-right {
				text-align: center;
				padding-top: .5rem;
			}
		}	
	}
	
}