header.site-header {
	background: get-color('primary');
	transition: transform .5s ease;
	
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50vw;
		background-color: $black;
	}
	
	#top-bar-menu {
		a {
			font-family: $header-font-family;
			font-size: rem-calc(22);
			color: $white;
		}
		
		li.logo {
			max-width: 180px;
			@include breakpoint(medium) {

			}
			@include breakpoint(tablet) {

			}
			a {
				padding: 0;
			}			
		}
			
		#main-nav {
			align-items: center;
			>li {
				margin: 0 .3rem 0rem;
				
				> a {
					
				&:hover {

				}
					
				}
				
			&.is-active,
			&.current-menu-ancestor {
				span:before {
					background-color: $white;
				}
			}
				
			&.menu-item-has-children {
				> a:after {
					border-color: $white transparent transparent;
				}
				ul.submenu {
					li {
						a {

							
						&:hover {

						}
							
						}
						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
}