.roster-bio {
	padding-left: $smallGutter;
	@include breakpoint(medium) {
		padding-left: $mediumGutter;	
	}
	@include breakpoint(tablet) {
		padding-left: 0;
	}
	.mobile-img-wrap {
		img {
			width: 100%;
		}
		@include breakpoint(tablet down) {
			max-width: 150px;
		}
	}
	.left {
		.img-wrap {
			padding-top: 120%;
			height: 100%;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}
	}
	.header {
	}
	.right {
		padding-top: 40px;
		padding-bottom: 40px;
		hr {
			border-width: clamp(0.263rem, 0.223rem + 0.169vw, 0.375rem);
			margin: 0 0 1.25rem;
		}
		.header,
		.stats,
		.content-wrap {
			padding-right: $smallGutter;
			@include breakpoint(medium) {
				padding-right: $mediumGutter;	
			}
		}
		.header {
			@include breakpoint(medium down) {
				> .grid-x {
					align-items: flex-end;
					padding-bottom: clamp(1.575rem, 1.337rem + 1.014vw, 2.25rem);
				}
			}
			.name-link {
				margin-top: clamp(0.7rem, 0.594rem + 0.451vw, 1rem);
				@include breakpoint(tablet) {
					margin-bottom: clamp(0.7rem, 0.594rem + 0.451vw, 1rem);
				}
				h2 {
					margin: 0;
				}
				.link-wrap {
					padding-right: $smallGutter;
					@include breakpoint(medium) {
						padding-right: $mediumGutter;	
					}
					a {
						&:hover,
						&:focus {
							svg path {
								fill: $black;
							}
						}
						@include breakpoint(medium down) {
							svg {
								max-width: 20px;
							}
						}
					}
				}
			}
		}
		.number {
			font-family: $header-font-family;
			width: clamp(2.5rem, 2.06rem + 1.878vw, 3.75rem);
			height: clamp(2.5rem, 2.06rem + 1.878vw, 3.75rem);
			font-size: clamp(1.125rem, 0.993rem + 0.563vw, 1.5rem);
			border-radius: 100%;
			line-height: 1;
			background-color: get-color('primary');
			color: $white;
			margin-right: 10px;
		}
		.stats {
			margin-bottom: .7rem;
			> .p {
				margin-bottom: .2rem;
				> span:first-child {
					font-weight: 600;
				}
			}
		}
	}
}